rdkit
jupyter
jupyterlab
matplotlib
seaborn
h5py
networkx
tqdm
einops
torch_geometric
pytorch-lightning
click
tensorboard
torch-tb-profiler
pubchempy
pandas-profiling[notebook]
numba
umap-learn
dash
plotly